[submodule "product-service"]
	path = product-service
	url = https://github.com/project-masterpiece21/product-service.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/project-masterpiece21/auth-service.git
